<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomCollectionView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2BFF4FAE1DB73C8400B5B7F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BFF4FCA1DB73C8500B5B7F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BFF4FD51DB73C8500B5B7F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
